input.ng-invalid{
    border-left: 5px solid red;
}

input.ng-valid{
    border-left: 5px solid green;
}
h1{
  color: white;
  text-align: center;
}
p {
    font-family: Lato;
  }
  
  input.ng-invalid {
    border-right: 5px solid red;
  }
  input.ng-valid{
    border-right: 5px solid green;
  }
  .invalid-feedback {
    display: block;
    color: red;
  }
  .template{
    background-color: rgb(116, 11, 25);
    width: 700px;
    margin: 0 auto;
    padding: 0 30px;
  }
label{
    color: white;
    font-size: 17px;
    text-decoration: overline;
  }
  .name{
    text-align: end;
    margin: 0 120px;
  }
  