<div class="template">
    <div class="container mt-5 mb-5">
        <h1>Template Driven Form</h1>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">

            <div class="form-row">
                <div class="col-md-6 mb-3 name">
                    <label for="firstName">First name</label>
                    <span class="text-danger" *ngIf="firstName.invalid ">*</span>
                    <span class="text-success" *ngIf="firstName.valid">*</span>
                    <input type="text" class="form-control" id="firstName" ngModel name="firstName" #firstName="ngModel"
                        placeholder="First name" minlength="8" required autocomplete="off">
                    <div class="text text-danger" *ngIf="firstName.touched && firstName.invalid">
                        <div class="text text-danger" *ngIf="firstName.errors?.['required']"> Please choose a first
                            name.
                        </div>
                        <div class="text text-danger" *ngIf="firstName.errors?.['minlength']"> must contain 8 letters
                        </div>

                    </div>
                    <div *ngIf="firstName.valid">

                        <div class="text text-success" *ngIf="firstName.valid"> Success</div>
                    </div>
                </div>

                <div class="col-md-6 mb-3 name">
                    <label for="lastName">Last name</label>
                    <span class="text-danger" *ngIf="lastName.invalid">*</span>
                    <span class="text-success" *ngIf="lastName.valid">*</span>
                    <input type="text" class="form-control" id="lastName" ngModel name="lastName" #lastName="ngModel"
                        placeholder="Last name" required autocomplete="off">
                    <div class="text text-danger" *ngIf="lastName.touched && lastName.invalid">
                        <div class="text text-danger" *ngIf="lastName.errors?.['required']"> Please choose a last name.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-6 name">
                    <label for="lastName">User name</label>
                    <span class="text-danger" *ngIf="username.invalid">*</span>
                    <span class="text-success" *ngIf="username.valid">*</span>
                    <input type="text" class="form-control" id="username" ngModel name="username" #username="ngModel"
                        placeholder="Username" aria-describedby="inputGroupPrepend" required autocomplete="off">
                    <div class="text text-danger" *ngIf="username.touched && username.invalid">
                        <div class="text text-danger" *ngIf="username.errors?.['required']"> Please choose a user name.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row" ngModelGroup="address">
                <div class="col-md-6 mb-3 name">
                    <label for="mail">Email</label>
                    <span class="text-danger" *ngIf="mail.invalid">*</span>
                    <span class="text-success" *ngIf="mail.valid">*</span>
                    <input type="mail" class="form-control" id="mail" ngModel name="mail" #mail="ngModel"
                        placeholder="Email Address" required email autocomplete="off">
                    <div class="text text-danger" *ngIf="mail.touched && mail.invalid">
                        <div class="text text-danger" *ngIf="mail.errors?.['required']"> Please Enter Email Address
                        </div>
                        <div class="text text-danger" *ngIf="mail.errors?.['email']"> Email must be a valid email
                            address
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3 name">
                    <label for="pswd">Password</label>
                    <span class="text-danger" *ngIf="pswd.invalid">*</span>
                    <span class="text-success" *ngIf="pswd.valid">*</span>
                    <input type="password" class="form-control" id="pswd" ngModel name="pswd" #pswd="ngModel"
                        minlength="7" placeholder="password" required autocomplete="off">
                    <div class="text text-danger" *ngIf="pswd.touched && pswd.invalid">
                        <div class="text text-danger" *ngIf="pswd.errors?.['required']"> Please enter Password
                        </div>
                        <div class="text text-danger" *ngIf="pswd.errors?.['minlength']"> must contain 7 letters</div>
                    </div>
                    <div *ngIf="pswd.valid">
                        <div class="text text-success" *ngIf="pswd.valid"> success</div>
                    </div>
                </div>

                <div class="col-md-6 mb-3 name">
                    <label for="city">City</label>
                    <span class="text-danger" *ngIf="city.invalid">*</span>
                    <span class="text-success" *ngIf="city.valid">*</span>
                    <input type="text" class="form-control" id="city" ngModel name="city" #city="ngModel"
                        placeholder="City" required autocomplete="off">

                    <div class="text text-danger" *ngIf="city.touched && city.invalid">
                        <div class="text text-danger" *ngIf="city.errors?.['required']"> Please choose city
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3 name">
                    <label for="zipcode">Zipcode</label>
                    <span class="text-danger" *ngIf="zipcode.invalid">*</span>
                    <span class="text-success" *ngIf="zipcode.valid">*</span>
                    <input type="text" class="form-control" id="zipcode" ngModel name="zipcode" #zipcode="ngModel"
                        minlength="6" placeholder="ZipCode" required autocomplete="off">
                    <div class="text text-danger" *ngIf="zipcode.touched && zipcode.invalid">
                        <div class="text text-danger" *ngIf="zipcode.errors?.['required']"> Please choose zip
                        </div>
                        <div class="text text-danger" *ngIf="zipcode.errors?.['minlength']"> must contain 6 letters
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="terms" ngModel name="terms" #terms="ngModel"
                        value="" required>
                    <label class="form-check-label" for="terms">
                        Agree to terms and conditions
                    </label>
                    <div *ngIf="terms?.touched && terms?.invalid" class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary " type="submit" [disabled]="form.invalid">Sign Up</button>
        </form>
    </div>
</div>
